{% extends "base.html" %} {% block title %} Home {% endblock title %} 
{% block content %}

    {% comment %} navbar {% endcomment %}
    {% include "components/navbar.html" %}

    {% comment %} sidebar {% endcomment %}
    {% include "components/sidebar.html" %}

    {% comment %} modal {% endcomment %}
    {% include "components/create-room-modal.html" %}


<div class="p-4 sm:ml-64">
    <div class="mt-14">

        {% if messages %}
            {% for message in messages %}
                <div class="mb-3 p-4 text-sm rounded-lg bg-gray-800 text-gray-300" role="alert">
                    <span class="font-medium">{{message}}</span>
                </div>
            {% endfor %}
        {% endif %}
            
        
        {% block sub_content %}
            
        {% endblock sub_content %}
            
    </div>
</div>

{% endblock content %}
