{% extends "partials/main-layout.html" %} {% block title %} Home {% endblock title %} 
{% block sub_content %}
<div class='overflow-y-auto' style='height: 80vh;'>
    {% comment %} room name {% endcomment %}
    <div class='mb-2 px-4 p-2 shadow-md bg-white'>
        <h1>#{{room.name|capfirst}}</h1>
    </div>
    {% comment %} messages {% endcomment %}
    <div class='py-2 px-4'>
        <h1>message</h1>
    </div>
</div>
<div class="fixed right-0 bottom-6" style="width: 100%;">
    <form id="form_send_message" class='mx-auto ' action="" style="width: 40%;">
        <input id="message" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" placeholder="Type a message">
    </form>
    {{room.slug|json_script:'json-room_name'}}
    {{user.username|json_script:'json-username'}}
</div>


<script>
    const formSendMessage = document.getElementById('form_send_message');
    const chatRoomName = JSON.parse(document.getElementById('json-room_name').textContent);
    const username = JSON.parse(document.getElementById('json-username').textContent);
    
    // تصحيح المسار ليطابق إعدادات WebSocket
    const ws = new WebSocket(`ws://${window.location.host}/ws/${chatRoomName}/`);

    ws.onmessage = event => console.log(event.data);
    ws.onclose = event => console.log("WebSocket connection closed.");

    formSendMessage.addEventListener('submit', (e) => {
        e.preventDefault();
        // يمكنك إضافة إرسال الرسالة هنا\
        const message = document.getElementById('message').value;
        if (message.trim()) {
            ws.send(JSON.stringify({
                "message": message,
                "username": username,
                "room": chatRoomName,
            }));
        }
    });
</script>


{% endblock sub_content %}
