{% extends "partials/main-layout.html" %} {% block title %} #{{room.name|upper}} {% endblock title %} 
{% block sub_content %}
<div class='overflow-y-auto' style='max-height: 80vh;' id='chat_content_wrapper'>
    {% comment %} room name {% endcomment %}
    <div class='sticky top-0  mb-2 px-4 p-2 shadow-md bg-white'>
        <h1>#{{room.name|capfirst}}</h1>
    </div>
    {% comment %} messages {% endcomment %}
    <div class='py-2 px-4' id='messages_wrapper'>
        
        {% for message in room_messages %}
            <div class="flex {% if message.user == user %}justify-end {% else %}justify-start{% endif %}">
                <div class='mb-2 {% if message.user == user %}bg-blue-700 text-white {% else %}bg-gray-200{% endif %} p-2 rounded-md' style='width: fit-content;'>
                    <div class='flex items-center gap-2 mb-2'>
                        <div class='h-10 w-10 rounded-full overflow-hidden'>
                            <img class='w-full h-full object-cover' src="{{message.user.profile.image.url}}" alt="">
                        </div>
                        <div>
                            <h3 class='text-xs'>{{message.user.username|capfirst}}</h3>
                            <h4 class='text-xs text-muted'>{{message.created_at|timesince}}</h4>
                        </div>
                    </div>
                    <p class='text-xs'>{{message.message}}</p>
                </div>
            </div>
        {% empty %}
            <div id='no_messages-in-the-room' class='text-center text-gray-500'>No messages yet</div>
        {% endfor %}
            
    </div>
</div>
<div class="fixed right-0 bottom-6" style="width: 100%;z-index: 40;">
    <form id="form_send_message" class='mx-auto' action="" style="width: 50%;">
        <input id="message" class="w-full bg-gray-50 border-2 border-blue-600 text-gray-900 text-sm rounded-lg block w-full p-2.5" type="text" placeholder="Type a message">
    </form>
</div>
{{room.slug|json_script:'json-room_name'}}
{{user.username|json_script:'json-username'}}
{{user.profile.image.url|json_script:'json-profile_pic'}}


<script>
    const formSendMessage = document.getElementById('form_send_message');
    const chatRoomName = JSON.parse(document.getElementById('json-room_name').textContent);
    const username = JSON.parse(document.getElementById('json-username').textContent);
    const profilePic = JSON.parse(document.getElementById('json-profile_pic').textContent);
    const messagesWrapper = document.getElementById('messages_wrapper');
    const noMessages = document.getElementById('no_messages-in-the-room');
    
    // تصحيح المسار ليطابق إعدادات WebSocket
    const ws = new WebSocket(`ws://${window.location.host}/ws/${chatRoomName}/`);

    function scrollToBottom() { 
        chatContentWrapper = document.getElementById("chat_content_wrapper");
        chatContentWrapper.scrollTop = chatContentWrapper.scrollHeight; 
    }

    ws.onmessage = function(event) {
        const message = JSON.parse(event.data)
        isCurrentUser = message.username === username;
        class_attr_value = isCurrentUser ? 'bg-blue-700 text-white' : 'bg-gray-200';
        const html = `<div class="flex ${isCurrentUser ? 'justify-end' : 'justify-start'}"><div class='mb-3 ${class_attr_value} p-2 rounded-md' style='width: fit-content;'>
            <div class='flex items-center gap-2 mb-2'>
                <div class='h-10 w-10 rounded-full overflow-hidden'>
                    <img class='w-full h-full object-cover' src="${message.avatar}" alt="">
                </div>
                <div>
                    <h3 class='text-xs'>${message.username}</h3>
                    <h4 class='text-xs'>Now</h4>
                </div>
            </div>
            <p class='text-xs'>${message.message}</p>
        </div></div>`

        messagesWrapper.insertAdjacentHTML('beforeend', html);
        scrollToBottom();
    }
    ws.onclose = event => console.log("WebSocket connection closed.");

    formSendMessage.addEventListener('submit', (e) => {
        e.preventDefault();
        // يمكنك إضافة إرسال الرسالة هنا\
        const messageInput = document.getElementById('message');
        const message = messageInput.value;
        if (message.trim()) {
            ws.send(JSON.stringify({
                "message": message,
                "username": username,
                "room": chatRoomName,
                "avatar": profilePic
            }));

            messageInput.value = '';
            messageInput.focus();
            noMessages.remove();
            scrollToBottom();
        }
    });
    document.addEventListener('DOMContentLoaded', scrollToBottom);
</script>


{% endblock sub_content %}
